**Operator Aritmatika**

In [ ]:
#penjumlahan
print('penjumlahan: ')
print(5+7)

penjumlahan:
12

In [ ]:
#pengurangan
print('pengurangan: ')
print('-'*20)
print(0-4)

pengurangan:
--------------------
-4

In [ ]:
#perkalian
print('perkalian: ')
print('-'*20)
print(8*3)

perkalian:
--------------------
24

In [ ]:
#pembagian
print('pembagian: ')
print('-'*20)
print(21/9)

pembagian:
--------------------
2.3333333333333335

In [ ]:
#modulus
print('modulus: ')
print('-'*20)
print(9%2)

modulus:
--------------------
1

In [ ]:
#perpangkatan
print('perpangkatan: ')
print('-'*20)
print(3**6)

perpangkatan:
--------------------
729

In [ ]:
#pembagian dengan hasil pembukatan flooring
print('pembagian pembulatan flooring: ')
print('-'*20)
print(4//2)

pembagian pembulatan flooring:
--------------------
2

**Operator Assigment**

In [ ]:
#penjumlahan
x = 3
x = x + 3
print(x)
x = 3
x += 5
print('-'*20)

6
--------------------

In [ ]:
#pengurangan
x = 3
x = x - 3
print(x)
x = 3
x -= 3
print('-'*20)

0
--------------------

In [ ]:
#perkalian
x = 3
x = x * 3
print(x)
x = 3
x *= 3
print('-'*20)

9
--------------------

In [ ]:
#pembagian
x = 3
x = x / 3
print(x)
x = 3
x /= 3
print('-'*20)

1.0
--------------------

In [ ]:
#modulus
x = 3
x = x % 3
print(x)
x = 3
x %= 3
print('-'*20)

0
--------------------

In [ ]:
#pembagian flooring
x = 3
x = x // 3
print(x)
x = 3
x //= 3
print('-'*20)

1
--------------------

In [ ]:
#perpangkatan
x = 3
x = x ** 3
print(x)
x = 3
x **= 3
print('-'*20)

27
--------------------

**Operator pembanding**

In [ ]:
#operator pembanding
print (5==6)
print (5!=5)
print (5!=6)
print (5>5)
print (5>6)
print (5<5)
print(5<6)
print (5>=5)
print (5<=5)

False
False
True
False
False
False
True
True
True

**Operator Logika**

In [ ]:
print(True)
print(False)
print(True and False)
print(False or True)
print(not False and True)
print(not True and False)

True
False
False
True
True
False

**Operator Membership**

In [ ]:
a = (2,1,9,0,5,3)
b = 8
print (b in a)

print ('-'*20)
a = (1,2,3,4,5,6)
b = 0
print (b not in a)

False
--------------------
True

**Variabel**

In [ ]:
#membuat variabel
kalimat = 'ini  adalah variabel'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

In [ ]:
#menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

ini  adalah variabel
4
2.5
True
(4+1j)

**Tipe data**

In [ ]:
print(str(kalimat))
print(float(bilangan2))
print(bool(bilangan3))
print(complex(bilangan4))

ini  adalah variabel
2.5
True
(4+1j)

In [ ]:
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

**Konversi Tipe Data**

In [ ]:
#konversi tipe data
print(int(bilangan1))
print(int(bilangan2))

4
2

In [ ]:
#tipe data float
print(float(bilangan1))
print(float(bilangan2))

4.0
2.5

In [ ]:
#tipe data string
print(str(bilangan1))
print(str(bilangan2))

4
2.5

In [ ]:
#konversi data bool
print(bool(bilangan1))
print(bool(bilangan2))

True
True

In [ ]:
#tipe data kompleks
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

(4+0j)
(2.5+0j)
(1+0j)